<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="/js/jquery.min.js"></script>
    <script th:src="@{/js/meals.js}"></script>
    <th:block layout:fragment="script"></th:block>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Itadakimasu | Checkout</title>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" type="image/png" href="/img/sushi.png">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- Flaticons -->
    <link href="/css/font/flaticon.css" rel="stylesheet">
    <!-- Swiper Slider -->
    <link href="/css/swiper.min.css" rel="stylesheet">
    <!-- Range Slider -->
    <link href="/css/ion.rangeSlider.min.css" rel="stylesheet">
    <!-- magnific popup -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <!-- Nice Select -->
    <link href="/css/nice-select.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Custom Responsive -->
    <link href="/css/responsive.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <!-- place -->
</head>


<body>
<!-- Navigation -->
<div class="header">
    <header class="full-width">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mainNavCol">
                    <!-- logo -->
                    <div class="logo mainNavCol">
                        <a href="/">
                            <img style="width: 110px; padding-bottom: 15px" src="/img/my_logo.png" class="img-fluid"
                                 alt="Logo">
                        </a>
                    </div>
                    <!-- logo -->
                    <div class="main-search mainNavCol">
                        <form class="main-search search-form full-width">
                            <div class="row">
                                <!-- location picker -->
                                <!-- search -->
                                <div class="col">
                                    <div class="search-box padding-10">
                                        <form id="search_meals_form" class="form_fdp">
                                            <input name="search" id="sbar" type="text" class="form-control"
                                                   placeholder="Pizza, Burger, Chinese" value="">
                                            <input name="submit" id="search_button" type="submit"
                                                   class="btn btn-primary" value="Search">
                                        </form>
                                    </div>
                                </div>
                                <!-- search -->
                            </div>
                        </form>
                    </div>
                    <div class="right-side fw-700 mainNavCol">
                        <div class="gem-points">
                            <a href="#" onclick="$('#search_button').click()"> <i class="fas fa-concierge-bell"></i>
                                <span>Order Now</span>
                            </a>
                        </div>
                        <!-- mobile search -->
                        <div class="mobile-search">
                            <a href="#" data-toggle="modal" data-target="#search-box"> <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <!-- mobile search -->
                        <!-- user account -->
                        <div th:if="${loggedin}" class="user-details p-relative">
                            <a href="#" class="text-light-white fw-500">
                                <img src="/img/user-1.png" class="rounded-circle" alt="userimg"> <span>Hi, <span
                                    th:text="${userFirstName}"></span></span>
                            </a>
                            <div class="user-dropdown">
                                <ul>
                                    <li>
                                        <a href="/account/orders">
                                            <div style="color: darkcyan" class="icon"><i class="flaticon-takeaway"></i>
                                            </div>
                                            <span style="color: darkcyan" class="details">Orders</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/account/address">
                                            <div style="color: darkcyan" class="icon"><i class="flaticon-user"></i>
                                            </div>
                                            <span style="color: darkcyan" class="details">MyAddresses</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="user-footer"><a href="/logout">Sign Out</a></div>
                            </div>
                        </div>
                        <div th:unless="${loggedin}" class="gem-points">
                            <a href="/account/login"><i class="fas fa-sign-in-alt"></i><span>Log In</span></a>
                        </div>
                        <!-- mobile search -->
                        <!-- user notification -->
                        <div class="cart-btn notification-btn">
                            <a href="#" class="text-light-green fw-700"> <i class="fas fa-bell"></i>
                                <span class="user-alert-notification"></span>
                            </a>
                            <div class="notification-dropdown">
                                <div class="product-detail">
                                    <a href="#">
                                        <div class="img-box">
                                            <img src="img/shop-1.png" class="rounded" alt="image">
                                        </div>
                                        <div class="product-about">
                                            <p class="text-light-black">Lil Johnny’s</p>
                                            <p class="text-light-white">Spicy Maxican Grill</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="rating-box">
                                    <p class="text-light-black">How was your last order ?.</p> <span
                                        class="text-dark-white"><i class="fas fa-star"></i></span>
                                    <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                    <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                    <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                    <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                    <cite class="text-light-white">Ordered 2 days ago</cite>
                                </div>
                            </div>
                        </div>
                        <!-- user notification -->
                        <!-- user cart -->
                        <div class="cart-btn cart-dropdown">
                            <a href="/order/checkout" class="text-light-green fw-700"> <i class="fas fa-shopping-bag"> </i>
                                <span class="user-alert-cart">3</span>
                            </a>

                    </div>
                </div>
                <div class="col-sm-12 mobile-search">
                    <div class="mobile-address">
                        <a href="#" class="delivery-add" data-toggle="modal" data-target="#address-box"> <span
                                class="address">Brooklyn, NY</span>
                        </a>
                    </div>
                    <div class="sorting-addressbox"><span
                            class="full-address text-light-green">Brooklyn, NY 10041</span>
                        <div class="btns">
                            <div class="filter-btn">
                                <button type="button"><i class="fas fa-sliders-h text-light-green fs-18"></i>
                                </button>
                                <span class="text-light-green">Sort</span>
                            </div>
                            <div class="filter-btn">
                                <button type="button"><i class="fas fa-filter text-light-green fs-18"></i>
                                </button>
                                <span class="text-light-green">Filter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<!--Nav Bar Above-->









<div layout:fragment="content">
    <!-- Content of the other pages goes here-->
</div>












<!-- footer below  -->
<footer class="section-padding bg-light-theme pt-0 u-line bg-black">
    <div class="u-line instagram-slider swiper-container">
        <ul class="hm-list hm-instagram swiper-wrapper">
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-3.jpg" alt="instagram"></a>
            </li>
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-1.jpg" alt="instagram"></a>
            </li>
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-2.jpg" alt="instagram"></a>
            </li>
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-4.jpg" alt="instagram"></a>
            </li>
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-5.jpg" alt="instagram"></a>
            </li>
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-6.jpg" alt="instagram"></a>
            </li>
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-7.jpg" alt="instagram"></a>
            </li>
            <li class="swiper-slide">
                <a href="#"><img src="/img/restaurants/250x200/insta-8.jpg" alt="instagram"></a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-contact">
                    <h6 class="text-custom-white">Need Help</h6>
                    <ul>
                        <li class="fw-600"><span class="text-light-white">Call Us</span> <a href="tel:"
                                                                                            class="text-custom-white">+(351)
                            123 456 789</a>
                        </li>
                        <li class="fw-600"><span class="text-light-white">Email Us</span> <a href="mailto:"
                                                                                             class="text-custom-white">it@gmail.com</a>
                        </li>
                        <li class="fw-600"><span class="text-light-white">Join our twitter</span> <a href="#"
                                                                                                     class="text-custom-white">@itadakimasu</a>
                        </li>
                        <li class="fw-600"><span class="text-light-white">Join our instagram</span> <a href="#"
                                                                                                       class="text-custom-white">@itadakimasu</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Get to Know Us</h6>
                    <ul>
                        <li><a href="#" class="text-light-white fw-600">About Us</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Blog</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Socialize</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Itadakimasu</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Perks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Let Us Help You</h6>
                    <ul>
                        <li><a href="#" class="text-light-white fw-600">Account Details</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Order History</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Find restaurant</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Login</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Track order</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Doing Business</h6>
                    <ul>
                        <li><a href="#" class="text-light-white fw-600">Suggest an Idea</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Be a Partner restaurant</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Create an Account</a>
                        </li>
                        <li><a href="#" class="text-light-white fw-600">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-contact">
                    <h6 class="text-custom-white">Newsletter</h6>
                    <form class="subscribe_form">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-submit" name="email"
                                   placeholder="Enter your email">
                            <span class="input-group-btn">
                      <button class="btn btn-second btn-submit" type="button"><i
                              class="fas fa-paper-plane"></i></button>
                 </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ft-social-media">
                    <h6 class="text-center text-light-black">Follow us</h6>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="payment-logo mb-md-20"><span class="text-light-white fs-14 mr-3">We accept</span>
                    <div class="payemt-icon">
                        <img src="/img/payments.png" alt="#">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center medewithlove align-self-center">

            </div>
            <div class="col-lg-4">
                <div class="copyright-text"><span class="text-light-white"><a href="">TQS G2</a> </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<!-- modal boxes -->
<div class="modal fade" id="address-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title fw-700">Change Address</h4>
            </div>
            <div class="modal-body">
                <div class="location-picker">
                    <input type="text" class="form-control" placeholder="Enter a new address">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="search-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="search-box p-relative full-width">
                    <input type="text" class="form-control" placeholder="Pizza, Burger, Chinese">
                </div>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<!-- Place all Scripts Here -->
<!-- jQuery -->
<!-- Popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Range Slider -->
<script src="/js/ion.rangeSlider.min.js"></script>
<!-- Swiper Slider -->
<script src="/js/swiper.min.js"></script>
<!-- Nice Select -->
<script src="/js/jquery.nice-select.min.js"></script>
<!-- magnific popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
<!-- sticky sidebar -->
<script src="/js/sticksy.js"></script>
<!-- Munch Box Js -->
<script src="/js/munchbox.js"></script>
<!-- /Place all Scripts Here -->
</body>
</html>