<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script></script>
    <script src="/js/map.js"></script>
</head>
<body>
    <div layout:fragment="content">
        <section class="final-order section-padding bg-light-theme">
            <div style="padding-top:5%;padding-left:5%;padding-right:5%" class="container-fluid">
                <p style="display: none" id="id" th:text="${order.riderId}"></p>
                <p>
                    Rider name: <span id="name" th:text="${order.riderName}"></span>
                </p>
                <p>
                    Rider contact: <span id="contact" th:text="${order.riderContact}"></span>
                </p>
                <p style="display: none" id="destLat" th:text="${order.lat}"></p>
                <p style="display: none" id="destLon" th:text="${order.lon}"></p>
                <div style="z-index:1; height:600px" id="mapid"></div>
            </div>
        </section>

    </div>

</body>
</html>