<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Itadakimasu | Order Details</title>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <link rel="shortcut icon" type="image/png" href="/image/sushi.png">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- Flaticons -->
    <link href="/css/font/flaticon.css" rel="stylesheet">
    <!-- Swiper Slider -->
    <link href="/css/swiper.min.css" rel="stylesheet">
    <!-- Range Slider -->
    <link href="/css/ion.rangeSlider.min.css" rel="stylesheet">
    <!-- magnific popup -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <!-- Nice Select -->
    <link href="/css/nice-select.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Custom Responsive -->
    <link href="/css/responsive.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <!-- place -->
</head>

<body>
    <div id="banner-adv" class="banner-adv">
        <a href="#"> <span class="text">Get FREE DELIVERY on your first order.</span>
        </a> <span class="close-banner"></span>
    </div>
    <!-- Navigation -->
    <div class="header">
        <header class="full-width">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mainNavCol">
                        <!-- logo -->
                        <div class="logo mainNavCol">
                            <a href="/">
                                <img style="width: 110px; padding-bottom: 15px" src="/img/my_logo.png" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                        <!-- logo -->
                        <div class="main-search mainNavCol">
                            <form class="main-search search-form full-width">
                                <div class="row">
                                    <!-- location picker -->
                                    <!-- search -->
                                    <div class="col">
                                        <div class="search-box padding-10">
                                            <input type="text" class="form-control" placeholder="Pizza, Burger, Chinese">
                                        </div>
                                    </div>
                                    <!-- search -->
                                </div>
                            </form>
                        </div>
                        <div class="right-side fw-700 mainNavCol">
                            <div class="gem-points">
                                <a href="#" onclick="$('#search_button').click()"> <i class="fas fa-concierge-bell"></i>
                                    <span>Order Now</span>
                                </a>
                            </div>
                            <!-- mobile search -->
                            <div class="mobile-search">
                                <a href="#" data-toggle="modal" data-target="#search-box"> <i class="fas fa-search"></i>
                                </a>
                            </div>
                            <!-- mobile search -->
                            <!-- user account -->
                            <div th:if="${loggedin}" class="user-details p-relative">
                                <a href="#" class="text-light-white fw-500">
                                    <img src="/img/user-1.png" class="rounded-circle" alt="userimg"> <span>Hi, <span th:text="${userFirstName}"></span></span>
                                </a>
                                <div class="user-dropdown">
                                    <ul>
                                        <li>
                                            <a href="/account/orders">
                                                <div style="color: darkcyan" class="icon"><i class="flaticon-takeaway"></i>
                                                </div> <span style="color: darkcyan" class="details">Orders</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div style="color: darkcyan" class="icon"><i class="flaticon-user"></i>
                                                </div> <span style="color: darkcyan" class="details">Account</span>
                                            </a>
                                        </li>
                                       </ul>
                                    <div class="user-footer"><a href="/logout">Sign Out</a></div>
                                </div>
                            </div>
                            <div th:unless="${loggedin}" class="gem-points">
                                <a href="/account/login"><i class="fas fa-sign-in-alt"></i><span>Log In</span></a>
                            </div>
                            <!-- mobile search -->
                            <!-- user notification -->
                            <div class="cart-btn notification-btn">
                                <a href="#" class="text-light-green fw-700"> <i class="fas fa-bell"></i>
                                    <span class="user-alert-notification"></span>
                                </a>
                                <div class="notification-dropdown">
                                    <div class="product-detail">
                                        <a href="#">
                                            <div class="img-box">
                                                <img src="/img/shop-1.png" class="rounded" alt="image">
                                            </div>
                                            <div class="product-about">
                                                <p class="text-light-black">Lil Johnny’s</p>
                                                <p class="text-light-white">Spicy Maxican Grill</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rating-box">
                                        <p class="text-light-black">How was your last order ?.</p> <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                        <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                        <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                        <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                        <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                        <cite class="text-light-white">Ordered 2 days ago</cite>
                                    </div>
                                </div>
                            </div>
                            <!-- user notification -->
                            <!-- user cart -->
                            <div class="cart-btn cart-dropdown">
                                <a href="#" class="text-light-green fw-700"> <i class="fas fa-shopping-bag"></i>
                                    <span class="user-alert-cart">3</span>
                                </a>
                                <div class="cart-detail-box">
                                    <div class="card">
                                        <div class="card-header padding-15">Your Order</div>
                                        <div class="card-body no-padding">
                                            <div class="cat-product-box">
                                                <div class="cat-product">
                                                    <div class="cat-name">
                                                        <a href="#">
                                                            <p class="text-light-green"><span class="text-dark-white">1</span> Chilli Chicken</p> <span class="text-light-white">small, chilli chicken</span>
                                                        </a>
                                                    </div>
                                                    <div class="delete-btn">
                                                        <a href="#" class="text-dark-white"> <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                    <div class="price"> <a href="#" class="text-dark-white fw-500">
                                                        $2.25
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cat-product-box">
                                                <div class="cat-product">
                                                    <div class="cat-name">
                                                        <a href="#">
                                                            <p class="text-light-green"><span class="text-dark-white">1</span> loaded cheese</p> <span class="text-light-white">small, chilli chicken</span>
                                                        </a>
                                                    </div>
                                                    <div class="delete-btn">
                                                        <a href="#" class="text-dark-white"> <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                    <div class="price"> <a href="#" class="text-dark-white fw-500">
                                                        $2.25
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cat-product-box">
                                                <div class="cat-product">
                                                    <div class="cat-name">
                                                        <a href="#">
                                                            <p class="text-light-green"><span class="text-dark-white">1</span> Tortia Chicken</p> <span class="text-light-white">small, chilli chicken</span>
                                                        </a>
                                                    </div>
                                                    <div class="delete-btn">
                                                        <a href="#" class="text-dark-white"> <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                    <div class="price"> <a href="#" class="text-dark-white fw-500">
                                                        $2.25
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-total">
                                                <div class="total-price border-0"> <span class="text-dark-white fw-700">Items subtotal:</span>
                                                    <span class="text-dark-white fw-700">$9.99</span>
                                                </div>
                                                <div class="empty-bag padding-15"> <a href="#">Empty bag</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer padding-15"> <a href="/order/checkout" class="btn-first green-btn text-custom-white full-width fw-500">Proceed to Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- user cart -->
                        </div>
                    </div>
                    <div class="col-sm-12 mobile-search">
                        <div class="mobile-address">
                            <a href="#" class="delivery-add" data-toggle="modal" data-target="#address-box"> <span class="address">Brooklyn, NY</span>
                            </a>
                        </div>
                        <div class="sorting-addressbox"> <span class="full-address text-light-green">Brooklyn, NY 10041</span>
                            <div class="btns">
                                <div class="filter-btn">
                                    <button type="button"><i class="fas fa-sliders-h text-light-green fs-18"></i>
                                    </button> <span class="text-light-green">Sort</span>
                                </div>
                                <div class="filter-btn">
                                    <button type="button"><i class="fas fa-filter text-light-green fs-18"></i>
                                    </button> <span class="text-light-green">Filter</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="main-sec"></div>
    <!-- Navigation -->
    <!-- tracking map -->
    <section class="checkout-page section-padding bg-light-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tracking-sec">
                        <div class="tracking-details padding-20 p-relative">
                            <h5 class="text-light-black fw-600">Itadakimasu</h5>
                            <span class="text-light-white">Estimated Delivery time</span>
                            <h2 class="text-light-black fw-700 no-margin">9:00pm-9:10pm</h2>
                            <div id="add-listing-tab" class="step-app">
                                <ul class="step-steps">
                                    <li class="done">
                                        <a href="javascript:void(0)"> <span class="number"></span>
                                            <span class="step-name">Order sent<br>8:38pm</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:void(0)"> <span class="number"></span>
                                            <span class="step-name">In the works</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> <span class="number"></span>
                                            <span class="step-name">Out of delivery</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> <span class="number"></span>
                                            <span class="step-name">Delivered</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tracking-map">
                            <div id="pickupmap"></div>
                        </div>
                    </div>
                    <!-- recipt -->
                    <div class="recipt-sec padding-20">
                        <div class="recipt-name title u-line full-width mb-xl-20">
                            <div class="recipt-name-box">
                                <h5 class="text-light-black fw-600 mb-2">Itadakimasu</h5>
                                <p class="text-light-white ">Estimated Delivery time</p>
                            </div>
                            <div class="countdown-box">
                                <div class="time-box"> <span id="mb-hours"></span>
                                </div>
                                <div class="time-box"> <span id="mb-minutes"></span>
                                </div>
                                <div class="time-box"> <span id="mb-seconds"></span>
                                </div>
                            </div>
                        </div>
                        <div class="u-line mb-xl-20">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="recipt-name full-width padding-tb-10 pt-0">
                                        <h5 class="text-light-black fw-600">Delivery (ASAP) to:</h5>
                                        <span class="text-light-white ">Jhon Deo</span>
                                        <span class="text-light-white ">Home</span>
                                        <span class="text-light-white ">314 79th St</span>
                                        <span class="text-light-white ">Rite Aid, Brooklyn, NY, 11209</span>
                                        <p class="text-light-white ">(347) 123456789</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="recipt-name full-width padding-tb-10 pt-0">
                                        <h5 class="text-light-black fw-600">Delivery instructions</h5>
                                        <p class="text-light-white ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="ad-banner padding-tb-10 h-100">
                                        <img src="/img/details/banner.jpg" class="img-fluid full-width" alt="banner-adv">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-line mb-xl-20">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="text-light-black fw-600 title">Your Order <span><a href="#" class="fs-12">Print recipt</a></span></h5>
                                    <p class="title text-light-white">Nov 15, 2015 8:38pm <span class="text-light-black">Order #123456789012345</span>
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout-product">
                                        <div class="img-name-value">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img src="/img/details/dish-1.jpg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-value"> <span class="text-light-white">2</span>
                                            </div>
                                            <div class="product-name"> <span><a href="#" class="text-light-white">Steak Burger</a></span>
                                            </div>
                                        </div>
                                        <div class="price"> <span class="text-light-white">$20.99</span>
                                        </div>
                                    </div>
                                    <div class="checkout-product">
                                        <div class="img-name-value">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img src="/img/details/dish-2.jpg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-value"> <span class="text-light-white">2</span>
                                            </div>
                                            <div class="product-name"> <span><a href="#" class="text-light-white">Cheese Burger</a></span>
                                            </div>
                                        </div>
                                        <div class="price"> <span class="text-light-white">$14.50</span>
                                        </div>
                                    </div>
                                    <div class="checkout-product">
                                        <div class="img-name-value">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img src="/img/details/dish-3.jpg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-value"> <span class="text-light-white">2</span>
                                            </div>
                                            <div class="product-name"> <span><a href="#" class="text-light-white">Double Burger</a></span>
                                            </div>
                                        </div>
                                        <div class="price"> <span class="text-light-white">$15.50</span>
                                        </div>
                                    </div>
                                    <div class="checkout-product">
                                        <div class="img-name-value">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img src="/img/details/dish-4.jpg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-value"> <span class="text-light-white">2</span>
                                            </div>
                                            <div class="product-name"> <span><a href="#" class="text-light-white">Big Cheese Burger</a></span>
                                            </div>
                                        </div>
                                        <div class="price"> <span class="text-light-white">$30.5</span>
                                        </div>
                                    </div>
                                    <div class="checkout-product">
                                        <div class="img-name-value">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img src="/img/details/dish-5.jpg" alt="#">
                                                </a>
                                            </div>
                                            <div class="product-value"> <span class="text-light-white">2</span>
                                            </div>
                                            <div class="product-name"> <span><a href="#" class="text-light-white">Cheesy Fries</a></span>
                                            </div>
                                        </div>
                                        <div class="price"> <span class="text-light-white">$5.45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="payment-method mb-md-40">
                                    <h5 class="text-light-black fw-600">Payment Method</h5>
                                    <div class="method-type"> <i class="far fa-credit-card text-dark-white"></i>
                                        <span class="text-light-white">Credit Card</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="price-table u-line">
                                    <div class="item"> <span class="text-light-white">Item subtotal:</span>
                                        <span class="text-light-white">$30.5</span>
                                    </div>
                                    <div class="item"> <span class="text-light-white">Delivery fee:</span>
                                        <span class="text-light-white">$30.5</span>
                                    </div>
                                    <div class="item"> <span class="text-light-white">Tax and fees:</span>
                                        <span class="text-light-white">$30.5</span>
                                    </div>
                                    <div class="item"> <span class="text-light-white">Driver tip:</span>
                                        <span class="text-light-white">$30.5</span>
                                    </div>
                                </div>
                                <div class="total-price padding-tb-10">
                                    <h5 class="title text-light-black fw-700">Total: <span>$33.36</span></h5>
                                </div>
                            </div>
                            <div class="col-12 d-flex"> <a href="#" class="btn-first white-btn fw-600 help-btn">Need Help?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tracking map -->
        <!-- footer -->
    <div class="footer-top section-padding bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-credit-card-1"></i></span>
                        <span class="text-custom-white">100% Payment<br>Secured</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-wallet-1"></i></span>
                        <span class="text-custom-white">Support lots<br> of Payments</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-help"></i></span>
                        <span class="text-custom-white">24 hours / 7 days<br>Support</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-truck"></i></span>
                        <span class="text-custom-white">Delivery Partnership<br>Vroom &#178;</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-guarantee"></i></span>
                        <span class="text-custom-white">Best Price<br>Guaranteed</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-app-file-symbol"></i></span>
                        <span class="text-custom-white">Mobile Compatible<br>Bootstrap Enabled</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="section-padding bg-light-theme pt-0 u-line bg-black">
        <div class="u-line instagram-slider swiper-container">
            <ul class="hm-list hm-instagram swiper-wrapper">
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-3.jpg" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-1.jpg" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-2.jpg" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-4.jpg" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-5.jpg" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-6.jpg" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-7.jpg" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="/img/restaurants/250x200/insta-8.jpg" alt="instagram"></a>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-contact">
                        <h6 class="text-custom-white">Need Help</h6>
                        <ul>
                            <li class="fw-600"><span class="text-light-white">Call Us</span> <a href="tel:" class="text-custom-white">+(351) 123 456 789</a>
                            </li>
                            <li class="fw-600"><span class="text-light-white">Email Us</span> <a href="mailto:" class="text-custom-white">it@gmail.com</a>
                            </li>
                            <li class="fw-600"><span class="text-light-white">Join our twitter</span> <a href="#" class="text-custom-white">@itadakimasu</a>
                            </li>
                            <li class="fw-600"><span class="text-light-white">Join our instagram</span> <a href="#" class="text-custom-white">@itadakimasu</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-links">
                        <h6 class="text-custom-white">Get to Know Us</h6>
                        <ul>
                            <li><a href="#" class="text-light-white fw-600">About Us</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Blog</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Socialize</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Itadakimasu</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Perks</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-links">
                        <h6 class="text-custom-white">Let Us Help You</h6>
                        <ul>
                            <li><a href="#" class="text-light-white fw-600">Account Details</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Order History</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Find restaurant</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Login</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Track order</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-links">
                        <h6 class="text-custom-white">Doing Business</h6>
                        <ul>
                            <li><a href="#" class="text-light-white fw-600">Suggest an Idea</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Be a Partner restaurant</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Create an Account</a>
                            </li>
                            <li><a href="#" class="text-light-white fw-600">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-contact">
                        <h6 class="text-custom-white">Newsletter</h6>
                        <form class="subscribe_form">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-submit" name="email" placeholder="Enter your email">
                                <span class="input-group-btn">
                      <button class="btn btn-second btn-submit" type="button"><i class="fas fa-paper-plane"></i></button>
                 </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ft-social-media">
                        <h6 class="text-center text-light-black">Follow us</h6>
                        <ul>
                            <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="payment-logo mb-md-20"> <span class="text-light-white fs-14 mr-3">We accept</span>
                        <div class="payemt-icon">
                            <img src="/img/payments.png" alt="#">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center medewithlove align-self-center">

                </div>
                <div class="col-lg-4">
                    <div class="copyright-text"> <span class="text-light-white"><a href="">TQS G2</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- modal boxes -->
    <div class="modal fade" id="offer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="offer-content">
                        <h2 class="text-custom-white fw-700">Get $12 off <small class=" fw-700">your order*</small></h2>
                        <p class="text-custom-white">As an added treat, enjoy <strong>free delivery</strong> from
                            <br>select restaurants automatically applied at checkout</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="text-light-white fs-14">E-mail</label>
                                    <input type="email" name="#" class="form-control form-control-submit" placeholder="E-mail ID">
                                </div>
                                <div class="form-group">
                                    <label class="text-light-white fs-14">ZIP Code</label>
                                    <input type="number" name="#" class="form-control form-control-submit" placeholder="10421">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-second btn-submit full-width">Save $12 on your first order</button>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-second btn-default full-width text-light-green fw-700" data-dismiss="modal">Dismiss</button>
                                </div>
                                <div class="text-center"> <span class="text-light-black fs-12">*Valid on first order only, for one-time use, subject to Munchbox’s verification. Additional terms may apply. By signing up, you agree to receive marketing and promotional emails and communications form Munchbox</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="address-box">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title fw-700">Change Address</h4>
                </div>
                <div class="modal-body">
                    <div class="location-picker">
                        <input type="text" class="form-control" placeholder="Enter a new address">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="search-box">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="search-box p-relative full-width">
                        <input type="text" class="form-control" placeholder="Pizza, Burger, Chinese">
                    </div>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
    <!-- Place all Scripts Here -->
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Range Slider -->
    <script src="/js/ion.rangeSlider.min.js"></script>
    <!-- Swiper Slider -->
    <script src="/js/swiper.min.js"></script>
    <!-- Nice Select -->
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- magnific popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <script src="/js/map.js"></script>
    <!-- sticky sidebar -->
    <script src="/js/sticksy.js"></script>
    <!-- Munch Box Js -->
    <script src="/js/munchbox.js"></script>
    <!-- /Place all Scripts Here -->
</body>


<!-- munchbox/order-details.html  05 Dec 2019 10:25:29 GMT -->
</html>